<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Spotify - Univeral Extension</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); height: 100vh;">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div style="height: 100%; display: flex; align-items: center;">
          <div class="container">
            <div class="jumbotron text-center" style="background-color: white; margin-bottom: 0;">
              <h1 class="display-3">Thank you!</h1>
              <img src="./views/headphones.svg" style="width: 10%;">
              <p class="lead">Now enjoy your top track!</p>
              <hr class="my-4">
              <div class="embed-responsive embed-responsive-21by9" style="max-height: 200px;">
                <iframe class="embed-responsive-item"
                src="https://open.spotify.com/embed?uri=<%= trackId %>" frameborder="0" allowtransparency="true">
                </iframe>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
